
.table-container{
  width: 100%;
  @include flexNdirection(column);
  justify-content: space-between;
  align-items: center;

  & .agent-table {
    width: 80%;
    text-align: center;
    border-collapse: collapse;


    & * {
      font-size: 1.2rem;
    }

    & tr {
      border-bottom: solid 2px $blue;
      vertical-align: middle;
    }

    & td {
      height: 2.5rem;
    }

  }

  & button {
    @include widthNheight(100px, 50px);
    @extend .forty-five;
    background-color: $purple;
    color: $white;
    margin-top: 2%;
  }
}

@media (max-width: 1000px) {
  .table-container{

  & .agent-table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    }

    & th:nth-of-type(1),
    & td:nth-of-type(1) {

      display: none;

      }

  }
}


@media (max-width: 750px) {
  .table-container{
    & .agent-table {
      width: 90%;
      text-align: center;
      border-collapse: collapse;

      & th:nth-of-type(5),
      & td:nth-of-type(5) {

        display: none;

        }

    }
  }
}
